# NAB unfolded
In this notebook we will explore the code fot Anomaly Detection, presented in [NAB](https://github.com/numenta/NAB), since is it seems to be the most reliable version.

[Here](https://www.youtube.com/watch?v=-N-2Cv-Q8h8) a presentation of the code `NAB/nab/detectors/numenta/numenta_detector.py`.

**PROCESS**: `input > create_model > encoder > SP > TM > AnomalyScore > AnomalyLH`

1. Everything is executed by **run.py**, which takes in a lot of information to start **runner.py**, which specifies the set of profiles, thresholds, and/or detectors --`numenta` in our case. 
1. To **LOAD the data .csv**, `runner.py` calls the script **corpus.py** which has two classes, *DataFile* followed by *Corpus*. *DataFile* loads the .csv which is called in the class *Corpus* in `#123`, `#135`. 
1. Afterwards, in **runner.py** `#93` calls the class *CorpusLaber* from **labeler.py**, which takes care af aggregating the groundtruth labels and saving to .json the timestamps for the anomaly.
1. **runner.py** executes the different detectors: *detect()* `#99` --> **numenta_detector.py** 
1. **numenta_detector.py** is more a wrapper that contains the childclass *NumentaDetector(AnomalyDetector)* `#42` which inherits methods from the parent class `AnomalyDetector` descripted in **base.py**, such `getAdditionalHeaders()` and `handleRecord()`
1. In **base.py**, *AnomalyDetector* takes as argument `dataSet` that is loaded using *Corpus* and among all, transforms our `pd.Dataframe`  into a `dict` *InputData*.
1. *handleRecord* in **anomaly-detector.py** calculates *Anomaly Score*, and *Anomaly LH*, called `rawScore` and `anomalyScore` respectively from `dict` *InputData* **????? #83**.
1. In **anomaly-detector.py**, the Model is initialized in `#113`, but it is not clear (to me), how is it feed with info. 
    ```
      def initialize(self):
        # Get config params, setting the RDSE resolution
        rangePadding = abs(self.inputMax - self.inputMin) * 0.2
        modelParams = getScalarMetricWithTimeOfDayAnomalyParams(
          metricData=[0],
          minVal=self.inputMin-rangePadding,
          maxVal=self.inputMax+rangePadding,
          minResolution=0.001,
          tmImplementation = "cpp"
        )["modelConfig"]
    ```
1. In **numenta_detector.py** `#116` Our first intuition is to get an overview of the fnc `from nupic.frameworks.opf.common_models.cluster_params import(getScalarMetricWithTimeOfDayAnomalyParams)`, 
[PATH](~/.local/share/virtualenvs/nupic-JMYHf7mp/lib/python2.7/site-packages/nupic/frameworks/opf/common_models/cluster_params.py`) since is the scripts that feeds the *Model*. 
1. **cluster_params.py**:
    - `#120`: **def _rangeGen(data, std=1)** calculates min/max values to use given the data and returns `minval, maxval` that are passed to `getScalarMetricWithTimeOfDayAnomalyParams` in `#29`
    - `#29`: **def getScalarMetricWithTimeOfDayAnomalyParams** returns a dict that will be the input of `nupic.frameworks.opf.model_factory.ModelFactory.create`.
    The dict contains `modelConfig` and `inferenceArgs` top-level properties. The value of the `modelConfig` property is for passing to `~nupic.frameworks.opf.model_factory.ModelFactory.create` method as the `modelConfig` parameter. The `inferenceArgs` property is for passing to the resulting model's `~nupic.frameworks.opf.model.Model.enableInference` method as the `inferenceArgs` parameter.
    
/ 1. In `numenta_detector.py #141` is defined the fnc `_setupEncoderParams(self, encoderParams)`, but some puzzle is missing.

### Load Data

**class Corpus** in courpus.py

In [15]:
import copy
import os
import pandas

from nab.util import (absoluteFilePaths,
                      createPath)

In [16]:
from nab.corpus import Corpus

class **DataFile** in corpus.py

In [17]:
from nab.corpus import DataFile

example of `DataFile` output

In [18]:
temp = DataFile("../data/realKnownCause/machine_temperature_system_failure.csv")
vars(temp)

{'data':                 timestamp      value
 0     2013-12-02 21:15:00  73.967322
 1     2013-12-02 21:20:00  74.935882
 2     2013-12-02 21:25:00  76.124162
 3     2013-12-02 21:30:00  78.140707
 4     2013-12-02 21:35:00  79.329836
 5     2013-12-02 21:40:00  78.710418
 6     2013-12-02 21:45:00  80.269784
 7     2013-12-02 21:50:00  80.272828
 8     2013-12-02 21:55:00  80.353425
 9     2013-12-02 22:00:00  79.486523
 10    2013-12-02 22:05:00  80.783277
 11    2013-12-02 22:10:00  79.508159
 12    2013-12-02 22:15:00  79.302033
 13    2013-12-02 22:20:00  80.802624
 14    2013-12-02 22:25:00  80.377789
 15    2013-12-02 22:30:00  80.479237
 16    2013-12-02 22:35:00  81.423560
 17    2013-12-02 22:40:00  81.373575
 18    2013-12-02 22:45:00  81.690942
 19    2013-12-02 22:50:00  80.181250
 20    2013-12-02 22:55:00  81.767178
 21    2013-12-02 23:00:00  81.259781
 22    2013-12-02 23:05:00  80.302937
 23    2013-12-02 23:10:00  81.114590
 24    2013-12-02 23:15:00  81.748109
 25    2013-12-02 23:20:00  81.994607
 26    2013-12-02 23:25:00  81.258053
 27    2013-12-02 23:30:00  83.118039
 28    2013-12-02 23:35:00  81.247021
 29    2013-12-02 23:40:00  82.735869
 ...                   ...        ...
 22665 2014-02-19 13:00:00  93.405691
 22666 2014-02-19 13:05:00  94.124466
 22667 2014-02-19 13:10:00  93.650855
 22668 2014-02-19 13:15:00  94.342091
 22669 2014-02-19 13:20:00  94.617205
 22670 2014-02-19 13:25:00  94.534074
 22671 2014-02-19 13:30:00  94.806127
 22672 2014-02-19 13:35:00  95.553183
 22673 2014-02-19 13:40:00  94.657280
 22674 2014-02-19 13:45:00  95.377308
 22675 2014-02-19 13:50:00  96.820556
 22676 2014-02-19 13:55:00  94.900900
 22677 2014-02-19 14:00:00  95.108901
 22678 2014-02-19 14:05:00  97.184352
 22679 2014-02-19 14:10:00  95.556043
 22680 2014-02-19 14:15:00  96.103572
 22681 2014-02-19 14:20:00  95.961107
 22682 2014-02-19 14:25:00  97.760870
 22683 2014-02-19 14:30:00  97.175704
 22684 2014-02-19 14:35:00  96.768563
 22685 2014-02-19 14:40:00  96.739868
 22686 2014-02-19 14:45:00  97.284578
 22687 2014-02-19 14:50:00  97.549774
 22688 2014-02-19 14:55:00  98.162952
 22689 2014-02-19 15:00:00  97.360905
 22690 2014-02-19 15:05:00  98.185415
 22691 2014-02-19 15:10:00  97.804168
 22692 2014-02-19 15:15:00  97.135468
 22693 2014-02-19 15:20:00  98.056852
 22694 2014-02-19 15:25:00  96.903861

 [22695 rows x 2 columns],
 'fileName': 'machine_temperature_system_failure.csv',
 'srcPath': '../data/realKnownCause/machine_temperature_system_failure.csv'}

exploring method **getDataFiles()**, in class Corpus, which calls the class **DataFile**

In [19]:
filePaths = absoluteFilePaths("../data/")
dataSets = [DataFile(path) for path in filePaths if ".csv" in path] #DataFile loaded by DataFile class
dataSets[1].data  # access items in dataSets which is a list of DataFile objects

               timestamp      value
0    2014-04-01 00:00:00  18.622185
1    2014-04-01 00:05:00   8.163417
2    2014-04-01 00:10:00  13.292383
3    2014-04-01 00:15:00  11.667046
4    2014-04-01 00:20:00  12.940358
5    2014-04-01 00:25:00  14.277310
6    2014-04-01 00:30:00  12.791481
7    2014-04-01 00:35:00  12.563315
8    2014-04-01 00:40:00  16.059958
9    2014-04-01 00:45:00  15.544639
10   2014-04-01 00:50:00  17.165984
11   2014-04-01 00:55:00  10.749549
12   2014-04-01 01:00:00  14.704814
13   2014-04-01 01:05:00  14.437143
14   2014-04-01 01:10:00  12.067116
15   2014-04-01 01:15:00  13.346633
16   2014-04-01 01:20:00  11.451604
17   2014-04-01 01:25:00   9.560288
18   2014-04-01 01:30:00  10.351813
19   2014-04-01 01:35:00   9.160650
20   2014-04-01 01:40:00  15.513765
21   2014-04-01 01:45:00  15.268001
22   2014-04-01 01:50:00  18.456670
23   2014-04-01 01:55:00  16.026463
24   2014-04-01 02:00:00   8.572504
25   2014-04-01 02:05:00  17.726697
26   2014-04-01 02:10:00  17.489427
27   2014-04-01 02:15:00  12.876524
28   2014-04-01 02:20:00  14.444494
29   2014-04-01 02:25:00  18.736862
...                  ...        ...
4002 2014-04-14 21:30:00  11.645336
4003 2014-04-14 21:35:00  18.749657
4004 2014-04-14 21:40:00  17.497874
4005 2014-04-14 21:45:00  11.553479
4006 2014-04-14 21:50:00  13.101587
4007 2014-04-14 21:55:00  12.565859
4008 2014-04-14 22:00:00   9.640052
4009 2014-04-14 22:05:00  18.536013
4010 2014-04-14 22:10:00  12.447437
4011 2014-04-14 22:15:00  17.628620
4012 2014-04-14 22:20:00  10.082919
4013 2014-04-14 22:25:00  14.026579
4014 2014-04-14 22:30:00   8.263575
4015 2014-04-14 22:35:00  16.406425
4016 2014-04-14 22:40:00  14.390053
4017 2014-04-14 22:45:00  14.881485
4018 2014-04-14 22:50:00   8.568930
4019 2014-04-14 22:55:00  10.321422
4020 2014-04-14 23:00:00   8.817640
4021 2014-04-14 23:05:00  11.178057
4022 2014-04-14 23:10:00  14.901829
4023 2014-04-14 23:15:00  14.228046
4024 2014-04-14 23:20:00  14.733648
4025 2014-04-14 23:25:00  14.041764
4026 2014-04-14 23:30:00  11.003317
4027 2014-04-14 23:35:00  10.689582
4028 2014-04-14 23:40:00   9.507657
4029 2014-04-14 23:45:00  17.339780
4030 2014-04-14 23:50:00  14.781273
4031 2014-04-14 23:55:00  10.051621

[4032 rows x 2 columns]

In [20]:
list(os.walk("../data"))

[('../data',
  ['artificialNoAnomaly',
   'realTraffic',
   'realAWSCloudwatch',
   'realAdExchange',
   'realKnownCause',
   'realTweets',
   'artificialWithAnomaly'],
  ['README.md']),
 ('../data/artificialNoAnomaly',
  [],
  ['art_daily_no_noise.csv',
   'art_noisy.csv',
   'art_daily_perfect_square_wave.csv',
   'art_daily_small_noise.csv',
   'art_flatline.csv']),
 ('../data/realTraffic',
  [],
  ['occupancy_t4013.csv',
   'speed_6005.csv',
   'TravelTime_387.csv',
   'TravelTime_451.csv',
   'occupancy_6005.csv',
   'speed_t4013.csv',
   'speed_7578.csv']),
 ('../data/realAWSCloudwatch',
  [],
  ['rds_cpu_utilization_e47b3b.csv',
   'iio_us-east-1_i-a2eb1cd9_NetworkIn.csv',
   'ec2_cpu_utilization_825cc2.csv',
   'rds_cpu_utilization_cc0c53.csv',
   'ec2_cpu_utilization_ac20cd.csv',
   'elb_request_count_8c0756.csv',
   'ec2_cpu_utilization_24ae8d.csv',
   'ec2_cpu_utilization_fe7f93.csv',
   'ec2_cpu_utilization_53ea38.csv',
   'ec2_cpu_utilization_c6585a.csv',
   'ec2_disk_write_bytes_c0d644.csv',
   'ec2_disk_write_bytes_1ef3de.csv',
   'ec2_network_in_5abac7.csv',
   'ec2_cpu_utilization_5f5533.csv',
   'grok_asg_anomaly.csv',
   'ec2_cpu_utilization_77c1ca.csv',
   'ec2_network_in_257a54.csv']),
 ('../data/realAdExchange',
  [],
  ['exchange-2_cpc_results.csv',
   'exchange-4_cpc_results.csv',
   'exchange-3_cpm_results.csv',
   'exchange-4_cpm_results.csv',
   'exchange-3_cpc_results.csv',
   'exchange-2_cpm_results.csv']),
 ('../data/realKnownCause',
  [],
  ['cpu_utilization_asg_misconfiguration.csv',
   'machine_temperature_system_failure.csv',
   'ambient_temperature_system_failure.csv',
   'rogue_agent_key_updown.csv',
   'ec2_request_latency_system_failure.csv',
   'nyc_taxi.csv',
   'rogue_agent_key_hold.csv']),
 ('../data/realTweets',
  [],
  ['Twitter_volume_PFE.csv',
   'Twitter_volume_CVS.csv',
   'Twitter_volume_AMZN.csv',
   'Twitter_volume_IBM.csv',
   'Twitter_volume_UPS.csv',
   'Twitter_volume_KO.csv',
   'Twitter_volume_CRM.csv',
   'Twitter_volume_AAPL.csv',
   'Twitter_volume_FB.csv',
   'Twitter_volume_GOOG.csv']),
 ('../data/artificialWithAnomaly',
  [],
  ['art_daily_flatmiddle.csv',
   'art_increase_spike_density.csv',
   'art_daily_jumpsup.csv',
   'art_load_balancer_spikes.csv',
   'art_daily_nojump.csv',
   'art_daily_jumpsdown.csv'])]

In [21]:
len(dataSets)

58

In [22]:
dataSets[36].fileName

'machine_temperature_system_failure.csv'

class **AnomalyDetector** in base.py

In [23]:
import abc
import os
import pandas
import sys

from datetime import datetime
from nab.util import createPath, getProbationPeriod

from nab.detectors.numenta.numenta_detector import NumentaDetector
# child class of AnomalyDetector(object)

In [24]:
#AnomalyDetector(dataSets[0])

We can not simply call the class.

**run()** method in class AnomalyDetector which calls the class **Corpus** and outputs a dict

In [55]:
row = []
inputData = []

for i, row in dataSets[1].data.iterrows():
    inputData.append(row.to_dict())
    #print i
    #print row

In [51]:
inputData #dictionary

{'timestamp': Timestamp('2014-04-14 23:55:00'), 'value': 10.0516211375}

In [27]:
NumentaDetector.handleRecord(inputData)

TypeError: unbound method handleRecord() must be called with NumentaDetector instance as first argument (got dict instance instead)

## Create Model

from **cluster_params.py**

In [28]:
import numpy as np
from nupic.frameworks.opf.common_models.cluster_params import _rangeGen

In [29]:
_rangeGen(dataSets[0].data['value'])

(-7.9508824900404171, 107.95085177004042)

In [30]:
import json
import os
from pkg_resources import resource_stream

from nupic.frameworks.opf.common_models.cluster_params import (
  getScalarMetricWithTimeOfDayAnomalyParams)

In [31]:
import os
paramFileRelativePath = os.path.join("anomaly_params_random_encoder", "best_single_metric_anomaly_params_cpp.json")
print paramFileRelativePath

anomaly_params_random_encoder/best_single_metric_anomaly_params_cpp.json

In [69]:
modelParams = getScalarMetricWithTimeOfDayAnomalyParams(dataSets[36].data['value'], tmImplementation = "cpp")

In [70]:
modelParams['modelConfig']['modelParams']['sensorParams']['encoders']

{u'c0_dayOfWeek': None,
 u'c0_timeOfDay': {u'fieldname': u'c0',
  u'name': u'c0',
  u'timeOfDay': [21, 9.49],
  u'type': u'DateEncoder'},
 u'c0_weekend': None,
 u'c1': {u'fieldname': u'c1',
  u'name': u'c1',
  'resolution': 1.0301464677633101,
  u'seed': 42,
  u'type': u'RandomDistributedScalarEncoder'}}

In [71]:
def _setupEncoderParams(encoderParams):
    # The encoder must expect the NAB-specific datafile headers
    encoderParams["timestamp_dayOfWeek"] = encoderParams.pop("c0_dayOfWeek")
    encoderParams["timestamp_timeOfDay"] = encoderParams.pop("c0_timeOfDay")
    encoderParams["timestamp_timeOfDay"]["fieldname"] = "timestamp"
    encoderParams["timestamp_timeOfDay"]["name"] = "timestamp"
    encoderParams["timestamp_weekend"] = encoderParams.pop("c0_weekend")
    encoderParams["value"] = encoderParams.pop("c1")
    encoderParams["value"]["fieldname"] = "value"
    encoderParams["value"]["name"] = "value"
    encoderParams["value2"] = {u'fieldname': 'value2',
        u'name': 'value',
        'resolution': 1.0301464677633101,
        u'seed': 42,
        u'type': u'RandomDistributedScalarEncoder'}

    sensorParams = encoderParams["value"]

In [72]:
_setupEncoderParams(modelParams["modelConfig"]["modelParams"]["sensorParams"]["encoders"])

In [73]:
modelParams["modelConfig"]["modelParams"]["sensorParams"]["encoders"]

{'timestamp_dayOfWeek': None,
 'timestamp_timeOfDay': {u'fieldname': 'timestamp',
  u'name': 'timestamp',
  u'timeOfDay': [21, 9.49],
  u'type': u'DateEncoder'},
 'timestamp_weekend': None,
 'value': {u'fieldname': 'value',
  u'name': 'value',
  'resolution': 1.0301464677633101,
  u'seed': 42,
  u'type': u'RandomDistributedScalarEncoder'},
 'value2': {u'fieldname': 'value2',
  u'name': 'value',
  'resolution': 1.03014646776331,
  u'seed': 42,
  u'type': u'RandomDistributedScalarEncoder'}}

In [88]:
df = dataSets[1].data
df["value2"] = df["value"]
inputData = df.to_dict(orient='records')

In [89]:
from nupic.frameworks.opf.model_factory import ModelFactory
model = ModelFactory.create(modelParams["modelConfig"])
model
model.enableInference({"predictedField": "value"})
for entry in inputData[:1000]:
    model.run(entry)

In [90]:
res = model.run(inputData[1001])
res

ModelResult(	predictionNumber=1000
	rawInput={'timestamp': Timestamp('2014-04-04 11:25:00'), 'value2': 13.1076491927, 'value': 13.1076491927}
	sensorInput=SensorInput(	dataRow=(11.416666666666666, 13.1076491927, 13.1076491927)
	dataDict={'timestamp': Timestamp('2014-04-04 11:25:00'), 'value2': 13.1076491927, 'value': 13.1076491927}
	dataEncodings=[array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.], dtype=float32), array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.], dtype=float32), array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.], dtype=float32)]
	sequenceReset=0.0
	category=-1
)
	inferences={'anomalyLabel': '[]', 'anomalyScore': 0.0}
	metrics=None
	predictedFieldIdx=None
	predictedFieldName=value
	classifierInput=ClassifierInput(	dataRow=None
	bucketIndex=None
)
)

### Run Model

`from nupic.frameworks.opf.model import Model`

```
**def run(self, inputRecord)** runs 1 iteration. Input= inputRecord, output=Model.Result
inputRecord: (object)
    :param  A record object formatted according to
           :meth:`~nupic.data.record_stream.RecordStreamIface.getNextRecord` or
           :meth:`~nupic.data.record_stream.RecordStreamIface.getNextRecordDict`
           result format.
    :returns: (:class:`~nupic.frameworks.opf.opf_utils.ModelResult`)
             An ModelResult namedtuple. The contents of ModelResult.inferences
             depends on the the specific inference type of this model, which
             can be queried by :meth:`.getInferenceType`.
```